<mtapp:setting	id="allow"	label="<__trans phrase="Allow">"	hint="<__trans phrase="username, __mode, blog_id">"	show_hint="1"><textarea name="allow"><mt:var name="allow" escape="html"></textarea></mtapp:setting>